.table {
  background-color: white;
  font-size: 20px;
  padding: 20px 30px;
}

.table thead {
  border: 1px solid black;
  border-radius: 10px;
}

.table th,
.table td {
  margin: 10px 20px;
  padding: 10px 20px;
}
